<!-- HEADER -->
<app-header
  [title]="title"
  (toggleSidebar)="toggleSidebar()"
  (logoutEvent)="logout()">
</app-header>

<!-- APP WRAPPER -->
<mat-sidenav-container class="sidenav-container">

  <!-- LEFT SIDEBAR -->
  <mat-sidenav
    class="sidenav"
    mode="side"
    [opened]="isSidebarOpened"
    [ngStyle]="{'width.px': leftWidth}">

    <app-sidebar
      (navigateEvent)="navigate($event)">
    </app-sidebar>

  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content>

    <div class="page-wrapper">

      <!-- LEFT RESIZER -->
      <div class="resizer-left" (mousedown)="startLeftResize($event)"></div>

      <!-- CENTER AREA -->
      <div class="center-content">

         <!-- BREADCRUMB -->
       <app-breadcrumb
  [items]="breadcrumb">
</app-breadcrumb>
        <!-- ROUTER CONTENT -->
        <div class="content">
          <router-outlet></router-outlet>
        </div>

      </div>
      <!-- RIGHT RESIZER -->
<div class="resizer"
     *ngIf="previewOpen || infoPanelOpen"
     (mousedown)="startResize($event)">
</div>
<div class="right-tabs">
   <button (click)="togglePreview()">Preview</button>

<button (click)="setInfoView('metadata')">
  Metadata
</button>

<!-- <button (click)="setInfoView('comments')">
  Comments
</button> -->
  <!-- <button 
    [class.active]="activeView === 'preview'" 
    (click)="setView('preview')">
    Preview
  </button>

  <button 
    [class.active]="activeView === 'metadata'" 
    (click)="setView('metadata')">
    Metadata
  </button>

  <button 
    [class.active]="activeView === 'comments'" 
    (click)="setView('comments')">
    Comments
  </button> -->
</div>
      <!-- RIGHT PANEL -->
<div class="right-panel"
     [ngStyle]="{
       'width.px': previewOpen ? rightWidth : 0,
       'overflow': 'hidden'
     }">

  <app-right-panel
    activeView="preview"
    [fileType]="fileType"
    [document]="selectedDoc"
    [previewUrl]="previewUrl">
  </app-right-panel>

</div>
<!-- METADATA PANEL -->
<!-- INFO PANEL -->
<div class="right-panel meta-panel"
     [ngStyle]="{'width.px': infoPanelOpen ? metaWidth : 0}">

  <app-right-panel
    [activeView]="infoView"
    [document]="selectedDoc"
    (viewChange)="setInfoView($event)">
  </app-right-panel>

</div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>