<!-- APP SHELL -->
<div class="app-shell">

  <!-- HEADER (FIXED TOP) -->
  <app-header
    class="app-header"
    [title]="title"
    (toggleSidebar)="toggleSidebar()"
    (logoutEvent)="logout()">
  </app-header>

  <!-- MAIN APP AREA -->
  <mat-sidenav-container class="sidenav-container">

    <!-- LEFT SIDEBAR -->
    <mat-sidenav
      class="sidenav"
      mode="side"
      [opened]="isSidebarOpened"
      [ngStyle]="{'width.px': leftWidth}">

      <app-sidebar
        (navigateEvent)="navigate($event)">
      </app-sidebar>

    </mat-sidenav>

    <!-- CONTENT AREA -->
    <mat-sidenav-content>

      <div class="page-wrapper">

        <!-- LEFT RESIZER -->
        <div class="resizer-left"
             (mousedown)="startLeftResize($event)">
        </div>

        <!-- CENTER AREA -->
        <div class="center-content">

          <!-- BREADCRUMB (FIXED UNDER HEADER) -->
          <app-breadcrumb
            class="breadcrumb-bar"
            [items]="breadcrumb">
          </app-breadcrumb>

          <!-- MAIN SCROLLABLE CONTENT ONLY -->
          <div class="content">
            <router-outlet></router-outlet>
          </div>

        </div>
         <!-- RIGHT SIDE TABS -->
        <div class="right-tabs">

          <button (click)="togglePreview()">
            Preview
          </button>

          <button (click)="openInfoPanel('metadata')">
            Metadata
          </button>

        </div>
<div class="right-panel-wrapper">
        <!-- RIGHT RESIZER -->
        <div class="resizer"
             *ngIf="previewOpen || infoPanelOpen"
             (mousedown)="startResize($event)">
        </div>

       

        <!-- RIGHT PANEL (PREVIEW) -->
        <div class="right-panel"
             [ngStyle]="{
               'width.px': previewOpen ? rightWidth : 0
             }">

          <app-right-panel
            activeView="preview"
            [fileType]="fileType"
            [document]="selectedDoc"
            [previewUrl]="previewUrl">
          </app-right-panel>

        </div>

        <!-- RIGHT PANEL (METADATA) -->
        <div class="right-panel meta-panel"
             [ngStyle]="{
               'width.px': infoPanelOpen ? metaWidth : 0
             }">

          <app-right-panel
            [activeView]="infoView"
            [document]="selectedDoc"
            (viewChange)="setInfoView($event)">
          </app-right-panel> 

        </div>
</div>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>