<div class="right-panel">

  <!-- HEADER TABS -->
  <div class="view-toggle">

    <button mat-button
      [class.active]="activeView === 'preview'"
      (click)="changeView('preview')">
      <mat-icon>visibility</mat-icon>
      <span>Preview</span>
    </button>

    <button mat-button
      [class.active]="activeView === 'metadata'"
      (click)="changeView('metadata')">
      <mat-icon>info</mat-icon>
      <span>Metadata</span>
    </button>

    <button mat-button
    [class.active]="activeView === 'comments'"
    (click)="changeView('comments')">
    <mat-icon>chat</mat-icon>
    <span>Comments</span>
  </button>
  </div>

  <!-- CONTENT -->
  <div class="panel-content">

    <!-- PREVIEW -->
    <div *ngIf="activeView === 'preview'" class="preview-card">

      <div class="pdf-toolbar">
        <button mat-icon-button><mat-icon>zoom_in</mat-icon></button>
        <button mat-icon-button><mat-icon>zoom_out</mat-icon></button>
        <button mat-icon-button><mat-icon>download</mat-icon></button>
      </div>

      <iframe *ngIf="previewUrl"
        [src]="previewUrl | safeUrl"
        class="pdf-viewer">
      </iframe>

    </div>

    <!-- METADATA -->
    <div *ngIf="activeView === 'metadata'" class="meta-card">

      <div class="meta-header">
        <h3>Document Details</h3>

        <button mat-icon-button (click)="editMode = !editMode">
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <div class="meta-grid">

        <div class="meta-row">
          <span class="label">Name</span>
          <span *ngIf="!editMode">{{ document?.name }}</span>
          <input *ngIf="editMode" [(ngModel)]="document.name">
        </div>

        <div class="meta-row">
          <span class="label">Type</span>
          <span>{{ document?.type }}</span>
        </div>

        <div class="meta-row">
          <span class="label">Size</span>
          <span>{{ document?.size }}</span>
        </div>

      </div>

      <button *ngIf="editMode" class="save-btn" mat-raised-button color="primary">
        Save Changes
      </button>

    </div>
<!-- COMMENTS -->
<div *ngIf="activeView === 'comments'" class="comment-card">

  <div class="comment-header">
    <h3>Comments</h3>
  </div>

  <!-- COMMENT LIST -->
  <div class="comment-list">

    <div class="comment-item" *ngFor="let c of comments">
      <div class="avatar">{{ c.user[0] }}</div>

      <div class="comment-body">
        <div class="meta">
          <b>{{ c.user }}</b>
          <span>{{ c.time }}</span>
        </div>
        <p>{{ c.text }}</p>
      </div>
    </div>

  </div>

  <!-- ADD COMMENT -->
  <div class="comment-input">

    <input
      placeholder="Write a comment..."
      [(ngModel)]="newComment"
      (keyup.enter)="addComment()">

    <button mat-icon-button (click)="addComment()">
      <mat-icon>send</mat-icon>
    </button>

  </div>

</div>
  </div>

</div>