<div class="table-container">

  <!-- HEADER -->
  <div class="table-header">
    <h5>Documents</h5>
  </div>

  <!-- 🔥 COLUMN CONTROLS -->
  <div class="column-controls">

  <button
    *ngFor="let col of displayedColumns"
    (click)="hideColumn(col)"
    class="hide-btn">

    Hide {{ col }}

  </button>

  <select (change)="showColumn($event)">

    <option value="">Show Column</option>

    <option *ngFor="let col of hiddenColumns"
            [value]="col">
      {{ col }}
    </option>

  </select>

</div>

 <div
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="dropColumn($event)"
  class="table-wrapper">

  <table mat-table
         [dataSource]="dataSource"
         matSort
         class="mat-elevation-z8 sticky-table">

    <!-- DYNAMIC COLUMNS -->
    <ng-container
      *ngFor="let col of displayedColumns; let i = index"
      [matColumnDef]="col">

      <!-- HEADER -->
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          cdkDrag>

        <div class="drag-header">

          <span class="drag-icon">☰</span>

          {{ col }}

        </div>

      </th>

      <!-- CELL -->
      <td mat-cell *matCellDef="let row">

        {{ row[col] }}

      </td>

    </ng-container>

    <!-- HEADER -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- ROW -->
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)">
    </tr>

  </table>

</div>

</div>