<div class="table-container">

  <!-- HEADER -->
  <div class="table-header ">
    <h5>Documents</h5>
    <div class="table-toolbar">

  <button mat-raised-button
          color="primary"
          [matMenuTriggerFor]="columnMenu">

    <mat-icon>view_column</mat-icon>
    Columns

  </button>

  <mat-menu #columnMenu="matMenu">

    <div class="column-menu">

      <mat-checkbox
        *ngFor="let col of allColumns"
        [checked]="displayedColumns.includes(col)"
        (click)="$event.stopPropagation()"
        (change)="toggleColumn(col, $event.checked)">

        {{ col }}

      </mat-checkbox>

    </div>

  </mat-menu>

</div>
  </div>

  <!-- COLUMN SETTINGS -->


 <div
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="dropColumn($event)"
  class="table-wrapper mat-elevation-z8">

  <table mat-table
         [dataSource]="dataSource"
         matSort
         class="mat-elevation-z8 sticky-table">

    <!-- DYNAMIC COLUMNS -->
    <ng-container
      *ngFor="let col of displayedColumns; let i = index"
      [matColumnDef]="col">

      <!-- HEADER -->
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          cdkDrag>

        <div class="drag-header">

          <!-- <span class="drag-icon">☰</span> -->

          {{ col }}

        </div>

      </th>

      <!-- CELL -->
      <td mat-cell *matCellDef="let row">

        {{ row[col] }}

      </td>

    </ng-container>

    <!-- HEADER -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- ROW -->
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;" (dblclick)="selectRow(row)"  [class.active-row]="selectedRow === row">
    </tr>

  </table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                  aria-label="Select page of documents">
  </mat-paginator>
</div>

</div>