/* ===== TABLE CONTAINER ===== */
.table-container {
  background: #ffffff;
  border-radius: 12px;
  padding: 10px;
}

/* ===== TABLE ===== */
table {
  width: 100%;
  border-collapse: collapse;
}
.table-header h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
/* ===== HEADER ===== */
.mat-header-cell {
  font-size: 12px;
  font-weight: 600;
  color: #64748b;
  text-transform: uppercase;
  padding: 12px 10px;
  background: #f8fafc;
  border-bottom: 1px solid #e2e8f0;
}

/* ===== ROW ===== */
.mat-row {
  border-bottom: 1px solid #f1f5f9;
  transition: 0.2s;
  cursor: pointer;
}

/* ===== CELL ===== */
.mat-cell {
  font-size: 13px;
  padding: 10px;
  color: #1e293b;
}

/* ===== NAME CELL ===== */
.file-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.file-name {
  font-size: 13px;
  font-weight: 500;
  color: #0f172a;
}

.file-sub {
  font-size: 11px;
  color: #94a3b8;
}

/* ===== ICON ===== */
.file-icon {
  width: 20px;
}

/* ===== BADGE ===== */
.badge {
  background: #e0f2fe;
  color: #0369a1;
  font-size: 11px;
  padding: 3px 8px;
  border-radius: 6px;
}

/* ===== VERSION ===== */
.version {
  background: #f1f5f9;
  font-size: 11px;
  padding: 3px 8px;
  border-radius: 6px;
}

/* ===== STATUS ===== */
.status {
  font-size: 12px;
  font-weight: 500;
  color: #16a34a;
}

/* ===== ROW HEIGHT ===== */
.mat-row, .mat-header-row {
  height: 45px;
}

/* ===== HOVER ===== */
.mat-row:hover {
  background: #f1f5ff;
  cursor: pointer;
}

/* ===== SORT ACTIVE ===== */
th.mat-sort-header-sorted {
  color: #2563eb;
}