
/* =========================
   MAIN WRAPPER
========================= */
.dashboard {
  padding: 15px;
  box-sizing: border-box;
  background: #f5f6fa;
}

/* =========================
   CARD GRID (RESPONSIVE)
========================= */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  
  gap: 10px;
  margin-bottom: 20px;
}
.cdk-drag {
  transition: transform 250ms ease;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.cdk-drag-placeholder {
  opacity: 0.2;
}

.cdk-drop-list-dragging .card {
  transition: transform 250ms ease;
}
/* =========================
   CARD DESIGN
========================= */
.card {
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  background: #fff;
  min-height: 220px;
}

.card:hover {
  transform: translateY(-3px);
}

/* =========================
   HEADER
========================= */
.card-header {
  display: flex;
  align-items: center;
  gap: 6px;
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
  margin-bottom: 8px;
}

.card-header mat-icon {
  color: #3f51b5;
  font-size: 18px;
}

.card-header h5 {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

/* =========================
   BODY (TABLE STYLE LIST)
========================= */
.card-body {
  max-height: 180px;
  overflow-y: auto;
}

/* SIMPLE TABLE */
.simple-table {
  width: 280px;
  border-collapse: collapse;
}

.simple-table tr {
  border-bottom: 1px solid #f0f0f0;
  width: 280px;
  height: 20px;
}

.simple-table tr:hover {
  background: #e2e3eb;
  cursor: pointer;
}

.simple-table td {
  padding: 5px 3px;
  font-size: 11px;
  font-weight: 400; /* compact */
  vertical-align: middle;
}

/* ICON CELL */
.icon-cell {
    margin-top: 10px;
  width: 20px;
  height: 10px;
}

/* PDF ICON */
.pdf-icon {
  color: #e53935;
  font-size: 17px;
}

/* TEXT CELL */
.name-cell {
  font-size: 10px;
  color: #333;
}

/* =========================
   TABLE CARD (MAIN TABLE)
========================= */
.table-card {
  padding: 15px;
  border-radius: 10px;
  overflow-x: auto;
  background: #fff;
}

/* table {
  width: 100%;
  min-width: 280px;
} */

/* =========================
   TYPO FIX
========================= */
h5 {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

/* =========================
   RESPONSIVE DESIGN
========================= */

/* Tablet */
@media (max-width: 992px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 8px;
  }

  .simple-table td {
    font-size: 9px;
  }

  .pdf-icon {
    font-size: 14px;
  }
}